/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
/* #D4AF37
#0A0A0A */


/* #Fffab6 */
/* #173574 */


@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-dark: #173574;
  --color-muted: #1F1F1F;
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  html { scroll-behavior: smooth; }
  body { @apply bg-white text-dark; }
}

.btn-primary {
  @apply bg-gold text-black px-8 py-4 rounded-full font-bold transition-all hover:scale-105 active:scale-95 hover:shadow-[0_0_20px_rgba(212,175,55,0.4)];
}

.section-padding { @apply py-24 px-6; }